@{
    ViewData["Title"] = "Physio Manager";
}

<div class="text-center mb-4">
    <h1 class="display-4 mb-4">Settings</h1>
    <a asp-controller="Treatments" asp-action="Index" class="btn btn-outline-primary">Treatments</a>
    <a asp-controller="ExerciseCategories" asp-action="Index" class="btn btn-outline-primary">Exercise Categories</a>
    <a asp-controller="Exercises" asp-action="Index" class="btn btn-outline-primary">Exercises</a>
    <a asp-controller="Programmes" asp-action="Index" class="btn btn-outline-primary">Programmes</a>
    <a asp-controller="Physios" asp-action="Index" class="btn btn-outline-primary">Physios</a>
</div>
