@model FlexiCareManager.Models.Exercise

@{
    ViewData["Title"] = "Create";
}

<h1>Create Exercise</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseCategoryId" class="control-label"></label>
                <select asp-for="ExerciseCategoryId" class="form-control"
                    asp-items="ViewBag.ExerciseCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Reps" class="control-label"></label>
                <input asp-for="Reps" class="form-control" />
                <span asp-validation-for="Reps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sets" class="control-label"></label>
                <input asp-for="Sets" class="form-control" />
                <span asp-validation-for="Sets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rest" class="control-label"></label>
                <input asp-for="Rest" class="form-control" />
                <span asp-validation-for="Rest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment" class="control-label"></label>
                <input asp-for="Equipment" class="form-control" />
                <span asp-validation-for="Equipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MusclesWorked" class="control-label"></label>
                <input asp-for="MusclesWorked" class="form-control" />
                <span asp-validation-for="MusclesWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Benefits" class="control-label"></label>
                <input asp-for="Benefits" class="form-control" />
                <span asp-validation-for="Benefits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HowToPerform" class="control-label"></label>
                <input asp-for="HowToPerform" class="form-control" />
                <span asp-validation-for="HowToPerform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tips" class="control-label"></label>
                <input asp-for="Tips" class="form-control" />
                <span asp-validation-for="Tips" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailUrl" class="control-label"></label>
                <input asp-for="ThumbnailUrl" class="form-control" />
                <span asp-validation-for="ThumbnailUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoUrl" class="control-label"></label>
                <input asp-for="VideoUrl" class="form-control" />
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">fBack</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
